{% extends "base.html" %}
{% block title %}Create Post{% endblock %}

{% block content %}

<div class="container mt-4">

```
<div class="bg-white p-4 rounded">

    <h4>Create Post</h4>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <textarea class="form-control" placeholder="Write something..."></textarea>

        <input type="file" class="form-control mt-2">

        <button class="btn btn-primary mt-3">Publish</button>
    </form>

</div>
```

</div>

{% endblock %}
