{% extends 'base.html' %} {% load static %} {% block content %}

<h4 class="mb-3">🔥 Feed</h4>

{% for post in posts %}

<div class="card mb-3 shadow-sm">
  <div class="card-body">
    <!-- USER INFO -->
    <div class="d-flex align-items-center mb-2">
      <img
        src="{% static 'img/default.png' %}"
        width="40"
        class="rounded-circle me-2"
      />
      <strong>{{ post.user.username }}</strong>
    </div>

    
    <h5>{{ post.title }}</h5>
    <p>{{ post.content }}</p>

    <small class="text-muted">{{ post.created_at }}</small>
  </div>
</div>

{% empty %}
<div class="text-center mt-5">
  <h5>No posts yet 😢</h5>
  <a href="/posts/create/" class="btn btn-primary">Create first post</a>
</div>
{% endfor %} {% endblock %}
